#content {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
}

#life {
  font-size: 30px;
}

#newDiv {
  background-color: beige;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  
}

.drag {
  background-color: red;
}

.overCard {
  background-color: aqua;
}

#container {
  
  padding: 20px;
  background-color: beige;
  
}